* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header {
  background-color: #fafafa;
  margin-bottom: 28px;
  padding: 20px 0;
  &__wrapper {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__btns {
    display: flex;
    margin: 0 -8px;
  }
  &__btn {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: white;
    background-color: #2185d0;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .3s;
    margin: 0 8px;
    &:hover {
      background-color: #1678c2;
    }
  }
  &__search {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    border-radius: 4px;
    padding: 8px 16px;
    border: 1px solid #ccc;
  }
}
.controls {
  width: 1170px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
  &__controller {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color .3s;
    &:hover {
      background-color: #eee;
    }
    &:before {
      border-style: solid;
      border-width: 2px 2px 0 0;
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
    }
    &--prev {
      &:before {
        transform: rotate(-135deg) translate(-1px, 1px);
      }
    }
    &--next {
      &:before {
        transform: rotate(45deg) translate(-1px, 1px);
      }
    }
    &--current {
      padding: 12px 24px;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1px;
      border: 1px solid #ccc;
      text-transform: uppercase;
      margin-left: 20px;
      &:before {
        display: none;
      }
    }
  }
  &__desc {
    font-size: 16px;
    font-weight: 600;
    width: 140px;
    display: inline-block;
    text-align: center;
  }
}
.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  margin: 0 auto 160px;
  border-left: 1px solid #eee;;
  border-top: 1px solid #eee;;
  &__day {
    padding: 12px;
    border-right: 1px solid #eee;;
    border-bottom: 1px solid #eee;;
    width: calc(100% / 7);
    min-height: 150px;
    & .date {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 12px;
    }
    &--current {
      position: relative;
      z-index: 1;
      background-color: #2185D0;
      color: white;
    }
    &--event {
      position: relative;
      z-index: 1;
      background-color: #2185D038;
    }
  }
}
.event {
  &__title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 8px 0 4px;
  }
  &__participants {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    &:not(:last-child):after {
      content: ', ';
      margin-left: -4px;
    }
  }
}
